/* this is all the background*/
body {
  background-color:white;
}
 /* this part belong to index.html*/
.content, .margarita, .container {
  padding-left: 10%;
}
.wrap-texto{
  text-align: center;
}
.home{
  margin-right: 4%;
}
/* untill here*/

/* from this part starts technical blog*/

#examplebox{  /*padre*/
   display: flex; 
   justify-content: center;
    width: 100%;
  }
#box1{

  margin-left: 5%;
}
#box2{
  margin-top: 6%;
}

#box3{
  margin-top: 7%;
  margin-right: 10%;
}

/* untill here*/

/* this part belong to core-blog*/
.core{
  margin-left:40%;
}
a {
  text-decoration: none; 
  font-size: 20px;
  font-family: sans-serif;
  padding: 14px 10px
}
ul{
  padding: 14px
}
li{
  list-style: none; 
  display: inline;
}
li a{
  background:blue; 
  color:#d4d4d4;
  border-radius: 20px;
}
li a:hover{
  background: #4da4ff; 
  color:#fff;
}

.links{
  background:#fff; 
  height: 50px;
  margin-left: 30%;
}

/* until here */
 
/* from this part stars my core technical*/

#technical-blog{
  margin-left: 41%;
}
#topic-one{
  /*background:#fff; 
  height: 50px;*/
  margin-left: 28%;

}

#bandi, #qaali, #luke, #tom, #sara{
  margin-left: 2%;
}

p{
  margin-left: 2%;
}

 #diego{
  margin-left:27%;
 } 

 .value{
  margin-left: 40%;
 }

 #plan {

  margin-left: 40%;
 }

 @media screen and (max-width: 500px) {
  body {
    background-color: lightgreen;
  }
}



