/* this is all the background*/
body {
  background-color:white;
}
@media screen and (max-width: 500px) {
  body {
    background-color:lightgreen;
  }
 }

 /* this part belong to index.html*/
.content, .margarita, .container {
  padding-left: 10%;
}
.wrap-texto{
  text-align: center;
}
.home{
  margin-right: 4%;
}
/* untill here*/

/* from this part starts technical blog*/

#examplebox{  /*padre*/
   display: flex; 
   justify-content: center;
    width: 100%;
  }
#box1{

  margin-left: 5%;
}
#box2{
  margin-top: 6%;
}

#box3{
  margin-top: 7%;
  margin-right: 10%;
}

/* untill here*/

/* this part belong to core-blog*/
.core{
  margin-left:42%;
}
#core-topic{
  margin-left: 42%;
}
a {
  text-decoration: none; 
  font-size: 20px;
  font-family: sans-serif;
  padding: 14px 10px
}
ul{
  padding: 14px
}
li{
  list-style: none; 
  display: inline;
}
li a{
  background:aquamarine; 
  color:#e9bd15;
  border-radius: 20px;
}
li a:hover{
  background: #4da4ff; 
  color:white;
}

.links{ 
  height: 50px;
  margin-left: 10%;
  margin-right: 10%;
  padding-left: 31%

}


/* until here */
 
/* from this part stars my core technical*/

#technical-blog{
  margin-left: 41%;
}
#topic-one{
  /*background:#fff; 
  height: 50px;*/
  margin-left: 28%;

}

#bandi, #qaali, #luke, #tom, #sara{
  margin-left: 2%;
}

/*p{
  margin-left: 2%;
}*/

 #diego{
  margin-left:27%;
 } 

 .value{
  margin-left: 40%;
 }

 #plan {

  margin-left: 40%;
 }
/* emotional intelligence from here*/
 #emotion {
  margin-left: 40%;
 }

 
 @media screen and (min-width: 200px) {
  .home {width: 100px; float: left;}
 }
 .home {
  float: none;
  width: auto;
}
/* title of problem solving h1*/
#pro, #html{
  margin-left:42%;
}

